.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px;
}

.social-list__item {
  margin: 15px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover > .social-list__icon,
  &:focus > .social-list__icon {
    fill: var(--secondary-icon-color);
  }
}
.social-list__icon {
  fill: var(--secondary-color);
  transition: fill var(--animation);
}
