html {
  font-family: var(--primary-font-family);
}

* {
  box-sizing: border-box;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Backgrounds */
.primary-background {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

/* Icons */
.icon {
  font-size: inherit;
}

/* Images */
.image-cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  /* object-fit: scale-down; */
  position: absolute;
  top: 0;
  width: 100%;
}

/* Links */
.external-link {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

/* Margins */
.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

/* Paddings */
.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.pb-1 {
  padding-bottom: 5px;
}

/* Text */
.text {
  line-height: var(--text-line-height);
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.italic {
  font-style: italic;
}
