.hero__content {
  // background-color: rgba(var(--primary-background-color), 0.25);
  background-color: rgba(255, 255, 255, 0.253);
}

.hero__content__title {
  font-size: var(--primary-hero-font-size);
  font-weight: var(--primary-font-weight);
  margin-bottom: 35px;
}
.hero__content__title:first-child {
  font-size: 5rem;
}

.hero__content__link {
  /* background-color: rgba(var(--secondary-background-color), 0.8); */
  background-color: rgba(255, 255, 0, 0.801);
  border-radius: 25px;
  /* color: var(--secondary-color); */
  color: var(--secondary-background-color);
  display: inline-block;
  font-size: var(--navigation-link-font-size);
  font-weight: var(--secondary-font-weight);
  padding: 15px 20px;
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-radius;
  transition-timing-function: var(--transition-timing-function);
}

.hero__content__link:hover {
  background-color: yellow;
  /* background-color: rgb(var(--secondary-background-color)); */
  border-radius: 15px;
}

.effect {
  // text-align: center;
  // display: inline-block;
  position: relative;
  text-transform: capitalize;
  padding: 20px 0px;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.btn-effect {
  transition: all 0.2s linear 0s;

  &:before {
    // content: "\261E";
    content: "\279F";
    font-family: FontAwesome;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 100%;
    background-color: rgba(#fff, 0.3);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}
